* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-slide-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
}

.container-slide {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  height: 50vh;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.356);
}

.container-items {
  display: flex;
	width: 50vw;
  height: 50vh;
  border-radius: 10px;
	overflow: hidden;
}

.item {
	width: 50vw;
  height: 50vh;
  transition: all 0.5s;
}

.item:first-child {
  margin-left: -100%;
}

.item img {
	width: 50vw;
  height: 50vh;
  border-radius: 10px;
}

.action-button {
  font: bold 30px sans-serif;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00000000;
  user-select: none;
  width: 50px;
}

.action-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.308);
  transition: all 0.5s;
  border-radius: 10px;
  cursor: pointer;
}
